<!DOCTYPE = html>
<html>
  <head>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li> <a href="/" >Inicio </a>   </li>
          <li> <a href="/usuarios" >Usuarios registrados</a></li>
          <li> <a href="/recetas" >Recetas</a>   </li>
          <li> <a href="/sobre" >Sobre</a>   </li>
        </ul>
      </nav>
    </header>

    <section>
       <h1> Recetario </h1>
       <p>Actualmente tenemos registrado: </p>
       <ul> 
         {% for receta in recetas  %}
         <li> {{ receta.titulo  }} </li>
         {% endfor %}

       </ul>

    </section>

  </body>
</html>
